.Header {
  background-color: #370665;
  color: #ccc;
  width: 100%;
  padding: 8px 0;
  font-size: 1.3em;
}

.HeaderContent {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SiteLogo {
  font-size: 35px;
}
