.UserEditContent {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.InputLabel {
  width: 100px;
}

.InputWrapper {
  display: flex;
  align-items: center;
}

.ButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

.SuccessMessage {
  font-size: 30px;
  font-weight: bold;
  color: #370665;
}

.ErrorMessage {
  font-size: 30px;
  font-weight: bold;
  color: red;
}
