.NavItem {
  color: #FC9918FF;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 200ms ease;
}

.Logo {
  color: #F14A16;
  font-size: 1.2em;
}

.NavItem:hover {
  color: white;
}
