.UserCard {
  max-width: 316px;
  overflow: hidden;
  font-size: .8em;
  margin: 3px;
  border: 1px solid black;
  border-radius: 10px 10px 25px 25px;
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: space-between;
}

.UserButtonsContainer {
  display: flex;
}

.UserButton {
  flex: 2;
}

.ButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .UserCard {
    max-width: initial;
    flex-grow: 2;
  }
}
