.Button {
  padding: 8px;
  margin: 4px;
  min-width: 150px;
  border-radius: 1000px;
  color: #FC9918FF;
  font-size: .8em;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #FC9918FF;
  transition: all 200ms ease;
}

.Button:hover {
  color: #F14A16;
  border: 2px solid #F14A16;
  transform: scale(1.02);
}

.Solid {
  color: white;
  background-color: #FC9918FF;
}

.Solid:hover {
  color: white;
  background-color: #F14A16;
}

.Disabled,
.Disabled:hover {
  border: 2px solid grey;
  background-color: white;
  color: grey;
}
